header {
    background-color: #ff00b3;
    color: white;
    height: 50px;
    font-size: large;
    line-height: 50px;
    padding-left: 25px;
}

nav {
    background-color: #09816b;
    color: white;
    height: 25px;
    font-size: medium;
    line-height: 25px;
    padding-left: 25px;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
}


table.paper {
    width: 100%;

}

.titulo-tabla {
    border-bottom: #09816b 1px solid;
    text-align: left;
}

.numero {
    text-align: right;
}

table.paper .error {
    font-size: small;
    padding-left: 40px;
    color: #990000
}

.pie-de-pagina {
    margin-top: 40px;
    padding: 20px;
    border-top: solid 1px #ff00b3;
}

.lista-vacia {
    text-align: center;
    padding: 20px;
    color: #666666;
}