header {
    background-color: #ff00b3;
    color: white;
    height: 50px;
    font-size: large;
    line-height: 50px;
    padding-left: 25px;
}

nav {
    background-color: #09816b;
    color: white;
    height: 25px;
    font-size: medium;
    line-height: 25px;
    padding-left: 25px;
}